[submodule "crosstool-NG"]
	path = sdk/crosstool-NG
	# url = ../../jcmvbkbc/crosstool-NG
	url = ../crosstool-NG
	branch = xtensa-1.22.x
[submodule "lx106-hal"]
	path = sdk/lx106-hal
	url = ../lx106-hal
[submodule "esptool"]
	path = sdk/esptool
	url = ../../espressif/esptool
	branch = v3.2
[submodule "esp-open-lwip"]
	path = sdk/esp-open-lwip
	url = ../esp-open-lwip
	branch = sdk-1.5.0-experimental
